<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="content-language" content="ja">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>よくある質問(FAQ)</title>
	<link rel="stylesheet" href="./css/bootstrap.min.css" />
	<link rel="stylesheet" href="./css/bootstrap-vue.min.css" />
	<link rel="stylesheet" href="./css/bootstrap-icons.css" />
	<link rel="stylesheet" href="./css/style.css" />
	<style>
		#faqs p {margin: 0;}
	</style>
</head>
<body>
	<div id="app" v-cloak>
		<header class="fixed-top text-nowrap">
			<b-navbar toggleable="lg" type="light" variant="light">
				<b-navbar-brand href="index.html">
					<img src="./img/logo.png" height="30" class="align-top" alt="logo">
					ポータル
				</b-navbar-brand>
				<b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
				<b-collapse id="nav-collapse" is-nav>
					<b-navbar-nav>
						<b-nav-item v-for="item in headers.items" :key="item.name" :href="item.url" :disabled="item.disabled" :target="item.target">{{item.name}}</b-nav-item>					</b-navbar-nav>
					</b-navbar-nav>
				</b-collapse>
			</b-navbar>
		</header>

		<b-container style="margin-top: 80px; margin-bottom: 30px;">
			<b-row>
				<b-col cols="12" lg="9">
					<div v-if="exists(faqs)">
						<h1 class="text-dark bg-light border-primary mt-4 mb-3">
							<b-row>
								<b-col cols="12" sm="6">
									よくある質問(FAQ)<i class="bi bi-chat-dots"></i>
								</b-col>
								<b-col cols="12" sm="6">
									<b-form-group class="mb-0">
										<b-input-group size="sm">
											<b-form-input id="filter-input" v-model="faqs.filter" type="search" placeholder="フィルタ"></b-form-input>
										</b-input-group>
									</b-form-group>
								</b-col>
							</b-row>
						</h1>

						<b-row>
							<b-col cols="8" sm="10">
								<b-pagination pills v-if="rows(faqs) > faqs.per" v-model="faqs.current" :total-rows="faqs.total" :per-page="faqs.per" aria-controls="faqs" size="sm">
								</b-pagination>
							</b-col>
							<b-col cols="4" sm="2">
								<b-form-group class="mb-0">
									<b-form-select id="per-page-select" v-model="faqs.per" :options="pageOptions" size="sm"></b-form-select>
								</b-form-group>
							</b-col>
						</b-row>

						<b-table id="faqs" hover small
							:items="faqs.items"
							:fields="fields.faqs"
							:per-page="faqs.per"
							:current-page="faqs.current"
							:filter="faqs.filter"
							@filtered="onFiltered"
							@row-clicked="rowClicked"
							thead-class="d-none"
						>
							<template #cell(question)="row">
								<b-row>
									<b-col>
										<span v-html="compiledMarkdown(row.value)"></span>
									</b-col>
									<!-- <b-col class="ml-auto">
										<b-button size="sm" @click="row.toggleDetails" variant="light">
											{{ row.detailsShowing ? '-' : '+' }}
										</b-button>
									</b-col> -->
								</b-row>
							</template>

							<template #row-details="row">
								<b-card bg-variant="light">
									<span v-html="row.item.answer"></span>
								</b-card>
							</template>

						</b-table>

						<b-row>
							<b-col cols="8" sm="10">
								<b-pagination pills v-if="rows(faqs) > faqs.per" v-model="faqs.current" :total-rows="faqs.total" :per-page="faqs.per" aria-controls="faqs" size="sm">
								</b-pagination>
							</b-col>
							<b-col cols="4" sm="2">
								<b-form-group class="mb-0">
									<b-form-select id="per-page-select" v-model="faqs.per" :options="pageOptions" size="sm"></b-form-select>
								</b-form-group>
							</b-col>
						</b-row>

					</div>
				</b-col>

				<b-col cols="12" lg="3">
					<div v-if="exists(banners) || exists(links)">
						<h1 class="text-dark bg-light border-secondary mt-4 mb-3">リンク</h1>
						<b-row cols="2" cols-md="3" cols-lg="1">
							<b-col v-for="item in banners.items" class="mb-1">
								<span v-if="item.url"><a v-bind:href="item.url" :target="item.target"><img v-if="item.img" v-bind:src="imgroot + item.img.url" v-bind:alt="item.name"></a></span>
								<span v-else><img v-if="item.img" v-bind:src="imgroot + item.img.url" v-bind:alt="item.name"></span>
							</b-col>
							<b-col v-for="item in links.items" class="mb-1">
								<b-icon icon="box-arrow-up-right" variant="secondary" font-scale="0.7"></b-icon>
								<span v-if="item.url"><a v-bind:href="item.url" :target="item.target"><span v-html="item.name"></a></span>
								<span v-else><span v-html="item.name"></span></span>
							</b-col>
						</b-row>
					</div>

					<div v-if="exists(contacts)">
						<h1 class="text-dark bg-light border-secondary mt-4 mb-3">問い合わせ先</h1>
						<b-row cols="2" cols-lg="1">
							<b-col v-for="item in contacts.items">
								<b-card no-body class="text-break mb-3">
									<b-card-header>
										{{item.name}}
									</b-card-header>
									<b-list-group flush>
										<b-list-group-item class="d-flex justify-content-start align-items-center">
											<b-icon icon="telephone" class="mr-1"></b-icon>
											{{item.tel}}
										</b-list-group-item>
										<b-list-group-item class="d-flex justify-content-start align-items-center">
											<b-icon icon="envelope" class="mr-1"></b-icon>
											{{item.mail}}
										</b-list-group-item>
									</b-list-group>
								</b-card>
							</b-col>
						</b-row>
					</div>
				</b-col>
			</b-row>
		</b-container>

		<footer class="fixed-bottom bg-light text-muted text-center text-nowrap">
			<small>Copyright(C) 2021</small>
		</footer>
	</div>

	<script src="./js/polyfill.min.js"></script>
	<script src="./js/vue.min.js"></script>
	<script src="./js/bootstrap-vue.min.js"></script>
	<script src="./js/bootstrap-vue-icons.min.js"></script>
	<script src="./js/axios.min.js"></script>
	<script src="./js/marked.min.js"></script>
	<script src="./js/const.js"></script>
	<script src="./js/faq.js"></script>

</body>
</html>
